.header {
  background-color: #2a4f27ba;
  padding: 16px;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input {
  padding: 8px;
  width: 300px;
  font-size: 16px;
}

.btn {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #6aaedc;
  color: aliceblue;
  border: none;
  cursor: pointer;
}

.btn:focus,
.btn:hover {
  background-color: #50a5de;
}
